/*
Estilos de la página del login
*/
.bg {
  background-image: url("https://www.w3schools.com/css/paris.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Estilos generales*/
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}
/*variables*/
:root {
  /*colores*/
  --colorPrincipal: #1c2331;
  /*fuente*/
}
.navegacion {
  background-color: var(--colorPrincipal);
  min-height: 2rem;
  padding-left: 0rem;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding-left: 3rem;
}

#content {
  padding-left: 0rem;
  margin-top: 4rem;
  min-height: 100vh;
}
footer {
  background-color: var(--colorPrincipal);
  margin-top: 0.8rem;
}
/*Barra lateral*/
.sidebar-container {
  position: fixed;
  min-height: 100vh;
  transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 99;
  display: none;
  background-color: var(--colorPrincipal);
  margin-top: 3rem;
  width: 15rem;
}
.sidebar-container.open {
  display: block;
}
#content.opacidad {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .sidebar-container {
    display: block;
  }
  #content {
    padding-left: 15rem;
  }
  /* #btnClose {
    display: none;
  }  */
}

.sidebar-container .menu {
  margin-top: 1.8rem;
}

.sidebar-container .menu .sidebar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}

.sidebar-container .menu .sidebar-item-list {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
}

.sidebar-container .menu .sidebar-link {
  color: white;
  display: block;
}

.sidebar-container .menu .sidebar-icon {
  padding-right: 40px;
  width: 20px;
}

.exit-sidebar {
  position: absolute !important;
  width: 95%;
  bottom: 4rem;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: rgba(239, 83, 80, 0.5);
  border-radius: 5px;
}
/* DatatableJS */
.dataTable-input {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.dataTable-selector {
  display: inline-block;
  width: 35%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    no-repeat right 0.75rem center/8px 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;

  appearance: none;
}
